@font-face {
  font-family: 'MyWebFont';
  src: url('./Mitr/Mitr-ExtraLight.ttf') format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'MyWebFont';
  src: url('./Mitr/Mitr-Light.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MyWebFont';
  src: url('./Mitr/Mitr-Regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MyWebFont';
  src: url('./Mitr/Mitr-Medium.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MyWebFont';
  src: url('./Mitr/Mitr-SemiBold.ttf') format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'MyWebFont';
  src: url('./Mitr/Mitr-Bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
}

body * {
  font-family: MyWebFont;
}

header img {
  padding: 2px;
  margin: 2px;
}

.carousel {
  border: 14px solid #cfa445;
}

.carousel-bg {
  background-color: #f2f2f2;
}

.carousel-bg>div {
  padding: 22px 0;
}

.carousel-inner img {
  width: 100%;
}

.carousel .carousel-control-prev {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

.carousel .carousel-control-next {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

.navbar {
  padding: 0;
}

@media (max-width: 991px) {
  nav.navbar>div {
    justify-content: flex-end !important;
  }

  nav.navbar>div>button {
    margin: 10px;
  }
}

nav {
  background-color: rgb(176, 125, 28);
  border-bottom: 6px solid #cfa445;
  background: linear-gradient(to bottom, rgba(176, 125, 28, 1), rgba(251, 218, 126, 1));
}

nav .logo-a {
  position: absolute;
  top: 5px;
}

nav ul {
  width: 100%;
  justify-content: flex-end;
}

.nav-link {
  padding: 0.7em;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 400;
  font-size: 1.2em;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, transparent 50%, #cfa445 50%);
  transition: background-position .2s ease-in-out, color .2s ease-in-out;
}

.post-thumbnail img {
  width: 20px;
  height: auto;
}

.nav-link:hover {
  background-position: 0 100%;
  color: #fff;
}

.col {
  padding: 0;
}

@media (min-width: 576px) {
  main.site-main .row>.col:first-child {
    padding-right: 20px;
  }
}

.box-content {
  padding: 20px 20px;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.30);
}

.footer-infomation {
  background-color: rgba(251, 218, 126, 1);
  padding: 30px 30px 0px 30px;
}

.footer-infomation .col:nth-child(2) {
  padding-bottom: 5px;
}

.footer-infomation img {
  width: 100%;
}

footer.site-footer>div {
  padding: 20px;
  text-align: center;
  background-color: rgb(176, 125, 28);
  background: linear-gradient(to top, rgba(176, 125, 28, 1), rgba(251, 218, 126, 1));
}

img {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

main.site-main {
  padding-bottom: 20px;
}

.site-main img:hover {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: tada;
  animation-name: tada;
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.marquee {
  padding-top: 20px;
  padding-bottom: 20px;
}

.marquee .col {
  background: rgba(0, 0, 0, 0.05);
  display: flex;
  height: 50px;
}

.marquee .svg-marquee {
  height: 50px;
  width: 200px;
  background: transparent;
  position: absolute;
  z-index: 10;
}

.marquee marquee {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar img {
  width: 100%;
  padding-bottom: 20px;
}